In [38]:
import psycopg2
import pandas as pd

In [39]:
# 1. Using SQL

host = "localhost"
database = "postgres"
user = "postgres"
passw = ""

In [40]:
conn_str = "host={} dbname={} user={} password={}".format(host, database, user, passw)

In [44]:
connection = psycopg2.connect(conn_str)

In [45]:
q1 = 'SELECT * FROM payment'

In [ ]:
q2 = 'SELECT last_name, count(last_name) FROM actor GROUP BY  last_name'

In [ ]:
q3 = 'SELECT * FROM payment p FULL OUTER JOIN customer c ON p.customer_id = c.customer_id'

In [46]:
df = pd.read_sql(q1, con=connection)

In [33]:
df

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active
0,16050,269,2,7,1.99,2017-01-24 21:40:19.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
1,16051,269,1,98,0.99,2017-01-25 15:16:50.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
2,16052,269,2,678,6.99,2017-01-28 21:44:14.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
3,16053,269,2,703,0.99,2017-01-29 00:58:02.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
4,16054,269,1,750,4.99,2017-01-29 08:10:06.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
5,16055,269,2,1099,2.99,2017-01-31 12:23:14.996577-08:00,269,1,CASSANDRA,WALTERS,CASSANDRA.WALTERS@sakilacustomer.org,274,True,2017-02-14,2017-02-15 17:57:20+00:00,1
6,16056,270,1,193,1.99,2017-01-26 05:10:14.996577-08:00,270,1,LEAH,CURTIS,LEAH.CURTIS@sakilacustomer.org,275,True,2017-02-14,2017-02-15 17:57:20+00:00,1
7,16057,270,1,1040,4.99,2017-01-31 04:03:42.996577-08:00,270,1,LEAH,CURTIS,LEAH.CURTIS@sakilacustomer.org,275,True,2017-02-14,2017-02-15 17:57:20+00:00,1
8,16058,271,1,1096,8.99,2017-01-31 11:59:15.996577-08:00,271,1,PENNY,NEAL,PENNY.NEAL@sakilacustomer.org,276,True,2017-02-14,2017-02-15 17:57:20+00:00,0
9,16059,272,1,33,0.99,2017-01-25 02:47:17.996577-08:00,272,1,KAY,CALDWELL,KAY.CALDWELL@sakilacustomer.org,277,True,2017-02-14,2017-02-15 17:57:20+00:00,1
10,16060,272,1,405,6.99,2017-01-27 12:01:05.996577-08:00,272,1,KAY,CALDWELL,KAY.CALDWELL@sakilacustomer.org,277,True,2017-02-14,2017-02-15 17:57:20+00:00,1
11,16061,272,1,1041,6.99,2017-01-31 04:14:49.996577-08:00,272,1,KAY,CALDWELL,KAY.CALDWELL@sakilacustomer.org,277,True,2017-02-14,2017-02-15 17:57:20+00:00,1
12,16062,272,1,1072,0.99,2017-01-31 08:21:16.996577-08:00,272,1,KAY,CALDWELL,KAY.CALDWELL@sakilacustomer.org,277,True,2017-02-14,2017-02-15 17:57:20+00:00,1
13,16063,273,2,122,3.99,2017-01-25 18:14:47.996577-08:00,273,2,PRISCILLA,LOWE,PRISCILLA.LOWE@sakilacustomer.org,278,True,2017-02-14,2017-02-15 17:57:20+00:00,1
14,16064,273,2,980,0.99,2017-01-30 20:13:45.996577-08:00,273,2,PRISCILLA,LOWE,PRISCILLA.LOWE@sakilacustomer.org,278,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15,16065,274,1,147,2.99,2017-01-25 22:46:16.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
16,16066,274,1,208,4.99,2017-01-26 06:38:48.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
17,16067,274,2,301,2.99,2017-01-26 19:34:40.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
18,16068,274,1,394,5.99,2017-01-27 09:54:37.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
19,16069,274,2,474,2.99,2017-01-27 20:40:22.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
20,16070,274,1,892,4.99,2017-01-30 06:31:22.996577-08:00,274,1,NAOMI,JENNINGS,NAOMI.JENNINGS@sakilacustomer.org,279,True,2017-02-14,2017-02-15 17:57:20+00:00,1
21,16071,275,2,336,2.99,2017-01-27 01:43:49.996577-08:00,275,2,CAROLE,BARNETT,CAROLE.BARNETT@sakilacustomer.org,280,True,2017-02-14,2017-02-15 17:57:20+00:00,1
22,16072,276,1,736,3.99,2017-01-29 06:38:33.996577-08:00,276,1,BRANDY,GRAVES,BRANDY.GRAVES@sakilacustomer.org,281,True,2017-02-14,2017-02-15 17:57:20+00:00,1
23,16073,276,1,860,10.99,2017-01-30 01:13:42.996577-08:00,276,1,BRANDY,GRAVES,BRANDY.GRAVES@sakilacustomer.org,281,True,2017-02-14,2017-02-15 17:57:20+00:00,1
24,16074,277,2,308,6.99,2017-01-26 20:30:05.996577-08:00,277,2,OLGA,JIMENEZ,OLGA.JIMENEZ@sakilacustomer.org,282,True,2017-02-14,2017-02-15 17:57:20+00:00,1
25,16075,278,1,1092,4.99,2017-01-31 10:44:23.996577-08:00,278,2,BILLIE,HORTON,BILLIE.HORTON@sakilacustomer.org,283,True,2017-02-14,2017-02-15 17:57:20+00:00,1
26,16076,279,1,979,2.99,2017-01-30 20:05:37.996577-08:00,279,2,DIANNE,SHELTON,DIANNE.SHELTON@sakilacustomer.org,284,True,2017-02-14,2017-02-15 17:57:20+00:00,1
27,16077,279,2,1019,0.99,2017-01-31 01:33:33.996577-08:00,279,2,DIANNE,SHELTON,DIANNE.SHELTON@sakilacustomer.org,284,True,2017-02-14,2017-02-15 17:57:20+00:00,1
28,16078,280,1,1014,4.99,2017-01-31 01:07:42.996577-08:00,280,2,TRACEY,BARRETT,TRACEY.BARRETT@sakilacustomer.org,285,True,2017-02-14,2017-02-15 17:57:20+00:00,1
29,16079,281,2,650,2.99,2017-01-28 18:14:06.996577-08:00,281,2,LEONA,OBRIEN,LEONA.OBRIEN@sakilacustomer.org,286,True,2017-02-14,2017-02-15 17:57:20+00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15605,32069,181,2,13008,2.99,2017-05-14 13:44:29.996577-07:00,181,2,ANA,BRADLEY,ANA.BRADLEY@sakilacustomer.org,185,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15606,32070,186,1,14216,2.99,2017-05-14 13:44:29.996577-07:00,186,2,HOLLY,FOX,HOLLY.FOX@sakilacustomer.org,190,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15607,32071,188,1,14503,2.99,2017-05-14 13:44:29.996577-07:00,188,1,MELANIE,ARMSTRONG,MELANIE.ARMSTRONG@sakilacustomer.org,192,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15608,32072,190,2,15167,4.99,2017-05-14 13:44:29.996577-07:00,190,2,YOLANDA,WEAVER,YOLANDA.WEAVER@sakilacustomer.org,194,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15609,32073,191,1,14361,0.99,2017-05-14 13:44:29.996577-07:00,191,1,JEANETTE,GREENE,JEANETTE.GREENE@sakilacustomer.org,195,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15610,32074,192,1,11611,4.99,2017-05-14 13:44:29.996577-07:00,192,1,LAURIE,LAWRENCE,LAURIE.LAWRENCE@sakilacustomer.org,196,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15611,32075,193,2,15729,2.99,2017-05-14 13:44:29.996577-07:00,193,2,KATIE,ELLIOTT,KATIE.ELLIOTT@sakilacustomer.org,197,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15612,32076,199,2,13952,2.99,2017-05-14 13:44:29.996577-07:00,199,2,BETH,FRANKLIN,BETH.FRANKLIN@sakilacustomer.org,203,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15613,32077,200,2,11866,2.99,2017-05-14 13:44:29.996577-07:00,200,2,JEANNE,LAWSON,JEANNE.LAWSON@sakilacustomer.org,204,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15614,32078,208,1,13719,5.98,2017-05-14 13:44:29.996577-07:00,208,1,LUCY,WHEELER,LUCY.WHEELER@sakilacustomer.org,212,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15615,32079,208,1,15717,0.00,2017-05-14 13:44:29.996577-07:00,208,1,LUCY,WHEELER,LUCY.WHEELER@sakilacustomer.org,212,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15616,32080,211,2,12746,4.99,2017-05-14 13:44:29.996577-07:00,211,1,STACEY,MONTGOMERY,STACEY.MONTGOMERY@sakilacustomer.org,215,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15617,32081,213,2,14374,2.99,2017-05-14 13:44:29.996577-07:00,213,1,GINA,WILLIAMSON,GINA.WILLIAMSON@sakilacustomer.org,217,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15618,32082,214,2,15645,2.99,2017-05-14 13:44:29.996577-07:00,214,1,KRISTIN,JOHNSTON,KRISTIN.JOHNSTON@sakilacustomer.org,218,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15619,32083,215,2,15862,0.99,2017-05-14 13:44:29.996577-07:00,215,2,JESSIE,BANKS,JESSIE.BANKS@sakilacustomer.org,219,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15620,32084,216,1,12970,5.98,2017-05-14 13:44:29.996577-07:00,216,1,NATALIE,MEYER,NATALIE.MEYER@sakilacustomer.org,220,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15621,32085,216,1,11676,0.00,2017-05-14 13:44:29.996577-07:00,216,1,NATALIE,MEYER,NATALIE.MEYER@sakilacustomer.org,220,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15622,32086,219,1,11577,4.99,2017-05-14 13:44:29.996577-07:00,219,2,WILLIE,HOWELL,WILLIE.HOWELL@sakilacustomer.org,223,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15623,32087,227,2,13374,4.99,2017-05-14 13:44:29.996577-07:00,227,1,COLLEEN,BURTON,COLLEEN.BURTON@sakilacustomer.org,231,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15624,32088,228,2,12672,3.98,2017-05-14 13:44:29.996577-07:00,228,2,ALLISON,STANLEY,ALLISON.STANLEY@sakilacustomer.org,232,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15625,32089,228,1,15234,0.00,2017-05-14 13:44:29.996577-07:00,228,2,ALLISON,STANLEY,ALLISON.STANLEY@sakilacustomer.org,232,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15626,32090,229,2,13295,0.99,2017-05-14 13:44:29.996577-07:00,229,1,TAMARA,NGUYEN,TAMARA.NGUYEN@sakilacustomer.org,233,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15627,32091,234,1,15778,0.99,2017-05-14 13:44:29.996577-07:00,234,1,CLAUDIA,FULLER,CLAUDIA.FULLER@sakilacustomer.org,238,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15628,32092,236,1,12988,0.99,2017-05-14 13:44:29.996577-07:00,236,1,MARCIA,DEAN,MARCIA.DEAN@sakilacustomer.org,240,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15629,32093,244,2,12736,4.99,2017-05-14 13:44:29.996577-07:00,244,2,VIOLA,HANSON,VIOLA.HANSON@sakilacustomer.org,248,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15630,32094,245,2,12682,2.99,2017-05-14 13:44:29.996577-07:00,245,1,COURTNEY,DAY,COURTNEY.DAY@sakilacustomer.org,249,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15631,32095,251,1,14107,0.99,2017-05-14 13:44:29.996577-07:00,251,2,VICKIE,BREWER,VICKIE.BREWER@sakilacustomer.org,255,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15632,32096,252,2,13756,4.99,2017-05-14 13:44:29.996577-07:00,252,2,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,256,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15633,32097,263,1,15293,0.99,2017-05-14 13:44:29.996577-07:00,263,1,HILDA,HOPKINS,HILDA.HOPKINS@sakilacustomer.org,268,True,2017-02-14,2017-02-15 17:57:20+00:00,1
15634,32098,264,2,14243,2.99,2017-05-14 13:44:29.996577-07:00,264,1,GWENDOLYN,MAY,GWENDOLYN.MAY@sakilacustomer.org,269,True,2017-02-14,2017-02-15 17:57:20+00:00,1